.container {
  width: 260px;
  color: #010314;
  background: linear-gradient(180deg, #fff 0%, #e6e6e6 100%);
  padding: 0;
  margin: 0;
}
.title {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.75rem;
}
.input-box {
  padding: 0 0.75rem 0.75rem 0.75rem;
  font-size: 0.7rem;
}
.input-box > label {
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.input-box > input {
  all: unset;
  width: 90%;
  border: 1px solid #000000;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 4px;
}
